<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/about.css">
</head>
<body>
    <div sidebar>
        <div logo>B3</div>
        <div menu>
            <a href="./index.html">Hauptseite</a>
            <a href="./impressum.html">Impressum</a>
            <a href="./contact.html">Kontakt</a>
            <a href="./policy.html">AGB</a>
        </div>
    </div>
    <div content>
        <h2>About Us</h2>
        <pre>
            Product Owner: Sebastian. 
            Scrum Master: Marcel. 
            Entwicklungsteam: Sebastian, Weisong ,Marcel, Jan, Marvin.
        </pre>
        <p>
            <h2>Entwicklungsteam:</h2>
            <ol>
                <li>
                    <b>Seite bearbeiter:</b>
                    <br><br>
                    <ul>
                        <li><b>index:</b> Marcel</li>
                        <br>
                        <li><b>policy:</b> Marvin</li>
                        <br>
                        <li><b>contact:</b> Jan</li>
                        <br>
                        <li><b>about:</b> Weisong</li>
                        <br>
                        <li><b>impressum:</b> Sebastian</li>
                    </ul>
                </li>
                <br><br>
                <li>
                    <b>Unser Seite:</b>
                    <br><br>
                    <ul>
                        <li>
                            <a href="https://github.com/SebastianTechstarter/Exec20022025" target="_blank">https://github.com/SebastianTechstarter/Exec20022025</a>
                        </li>                       
                    </ul>
                </li>
            </ol>
        </p>
        <p>
            <h2>Unser Projekt Manager System</h2>
            <ul>
                <li>
                    <a href="https://github.com/users/SebastianTechstarter/projects/2" target="_blank">https://github.com/users/SebastianTechstarter/projects/2</a>
                </li>
            </ul>
        </p>
    </div>
</body>
</html>