<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breakout 3</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/contact.css">
</head>
<body>
    <div sidebar>
        <div logo>SW</div>
        <div menu>
            <a href="./about.html">About</a> 
            <a href="./impressum.html">Impressum</a>
            <a href="./policy.html">Policy</a>
            <a href="./index.html">Back</a>
        </div>
    </div>
    <div content>
        <div class="navbarContainer">
            <div class="navArea navAreaOne">
              <img src="./baby.png" class="logImg" />
            </div>
    </div>
</body>
</html>