<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/impressum.css">
</head>
<body>
    <header></header>
    <main>
        <div sidebar>
            <div logo>SW</div>
            <div menu>
                <a href="./scrum.html">Scrum</a>
                <a href="./about.html">About</a>
                <a href="./contact.html">Kontakt</a>
                <a href="./index.html">Index</a>
                <a href="./policy.html">Policy</a>
                <a href="#">Impressum</a> 
            </div>
        </div>
        <h1>Impressum</h1>
        <p><strong>Angaben gemäß § 5 TMG:</strong></p>
        <p>Max Mustermann</p>
        <p>Musterstraße 1</p>
        <p>12345 Musterstadt</p>
        <p>Deutschland</p>
    
        <h2>Kontakt</h2>
        <p>Telefon: +49 123 456789</p>
        <p>E-Mail: info@musterfirma.de</p><br>
    
        <h2>Umsatzsteuer-ID</h2>
        <p>Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz:</p>
        <p>DE123456789</p><br>
    
        <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>
        <p>Max Mustermann</p>
        <p>Musterstraße 1, 12345 Musterstadt</p><br>
    
        <h2>Haftungsausschluss</h2>
        <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt.<br>
            Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch<br>
            keine Gewähr übernehmen.</p><br>
    
        <h2>Haftung für Links</h2>
        <p>Unser Angebot enthält Links zu externen Websites, auf deren Inhalte wir <br>
            keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine<br>
            Gewähr übernehmen.</p><br>
    
        <h2>Urheberrecht</h2>
        <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen<br>
            Seiten unterliegen dem deutschen Urheberrecht. Beiträge Dritter sind als <br>
            solche gekennzeichnet.</p><br>
    </main>
    <footer></footer>    
</body>
</html>