<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breakout 3</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div sidebar>
        <div logo>SW</div>
        <div menu>
            <a href="./about.html">Über Uns</a>
            <a href="./impressum.html">Impressum</a>
            <a href="./contact.html">Kontakt</a> 
            <a href="./policy.html">AGB</a> 
        </div>
    </div>
    <div content>
        <iframe src="https://www.facebook.com/photo.php?fbid=492607402872695&set=pb.100063703195950.-2207520000&type=3&locale=de_DE" frameborder="0" index-image></iframe>
    </div>
</body>
</html>